/* Keyframes *//* Keyframes */

@keyframes blink-critical {
	to {
		background-color: @critical;
	}
}


/* Styles */

/* Colors (thorn) */
@define-color black      #101414;
@define-color bg0        #101414;
@define-color bg1        #17201B;
@define-color bg2        #26302A;
@define-color bg3        #334038;

@define-color fg0        #F0D8A8;
@define-color fg1        #C8D0C8;
@define-color fg2        #A8B8A8;
@define-color muted      #5F6B62;

@define-color red        #E0526F;
@define-color darkred    #75505D;
@define-color green      #6F8F6F;
@define-color brgreen    #8FBF8F;
@define-color moss       #A9B88F;
@define-color yellow     #D1A857;
@define-color bryellow   #E0B86A;
@define-color blue       #52697A;
@define-color brblue     #8BB5D1;
@define-color purple     #4B3E4F;
@define-color brpurple   #A05872;
@define-color aqua       #607868;
@define-color braqua     #8CA57E;
@define-color gray       #879080;
@define-color brgray     #A8B8A8;
@define-color white      #C8D0C8;


/* Semantic colors */
@define-color warning    @yellow;
@define-color critical   @red;

@define-color mode       @black;
@define-color unfocused  @bg2;
@define-color focused    @brgreen;
@define-color inactive   @purple;

@define-color sound      @brpurple;
@define-color network    @blue;
@define-color memory     @braqua;
@define-color cpu        @green;
@define-color temp       @moss;
@define-color layout     @yellow;
@define-color battery    @aqua;
@define-color date       @black;
@define-color time       @fg0;


/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

/* The whole bar */
#waybar {
	background: rgba(16, 20, 20, 0.88); /* #101414e0 */
	color: @white;
	font-family: JetBrains Mono, Siji;
	font-size: 10pt;
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#idle_inhibitor,
#disk,
#user,
#mpris {
	padding-left: 8pt;
	padding-right: 8pt;
}

/* Each critical module */
#mode,
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-critical;
	animation-duration: 1s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning.discharging {
	color: @warning;
}

/* Current sway mode */
#mode {
	color: @fg0;
	background: @mode;
}

/* Workspaces */
#workspaces button {
	padding-left: 2pt;
	padding-right: 2pt;
	color: @fg1;
	background: @unfocused;
}

/* Inactive workspace on unfocused output */
#workspaces button.visible {
	color: @fg1;
	background: @inactive;
}

/* Active workspace */
#workspaces button.focused {
	color: @black;
	background: @focused;
}

/* Urgent workspace */
#workspaces button.urgent {
	color: @black;
	background: @warning;
}

/* Hovered workspace */
#workspaces button:hover {
	background: @black;
	color: @fg0;
}

#window {
	margin-right: 35pt;
	margin-left: 35pt;
	color: @fg1;
}

#pulseaudio {
	background: @sound;
	color: @black;
}

#network {
	background: @network;
	color: @fg1;
}

#memory {
	background: @memory;
	color: @black;
}

#cpu {
	background: @cpu;
	color: @black;
}

#temperature {
	background: @temp;
	color: @black;
}

#language {
	background: @layout;
	color: @black;
}

#battery {
	background: @battery;
	color: @fg1;
}

#tray {
	background: @date;
}

#clock.date {
	background: @date;
	color: @fg1;
}

#clock.time {
	background: @time;
	color: @black;
}

/* Arrow separators */
#custom-arrow1 {
	font-size: 11pt;
	color: @time;
	background: @date;
}

#custom-arrow2 {
	font-size: 11pt;
	color: @date;
	background: @layout;
}

#custom-arrow3 {
	font-size: 11pt;
	color: @layout;
	background: @battery;
}

#custom-arrow4 {
	font-size: 11pt;
	color: @battery;
	background: @temp;
}

#custom-arrow5 {
	font-size: 11pt;
	color: @temp;
	background: @cpu;
}

#custom-arrow6 {
	font-size: 11pt;
	color: @cpu;
	background: @memory;
}

#custom-arrow7 {
	font-size: 11pt;
	color: @memory;
	background: @network;
}

#custom-arrow8 {
	font-size: 11pt;
	color: @network;
	background: @sound;
}

#custom-arrow9 {
	font-size: 11pt;
	color: @sound;
	background: transparent;
}

#custom-arrow10 {
	font-size: 11pt;
	color: @unfocused;
	background: transparent;
}
